@charset "UTF-8";
/*Estilos globales*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; }

html {
  height: 100%; }

body {
  height: 100%;
  background: #F7F7F7; }

.section {
  margin-top: 0.5em !important;
  width: 1020px;
  margin: 0 auto;
  background: white; }

.section_contenidos {
  width: 960px;
  margin: 0 auto;
  margin-top: 5em; }
  .section_contenidos h1 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 8px; }
  .section_contenidos .nota1 {
    font-size: 12px;
    color: #666;
    margin: 0;
    padding-bottom: 20px; }
  .section_contenidos .section_articulos {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.contenidos {
  width: 75%; }

.div-img-gif {
  display: none; }

.txt-cargando-vehiculos {
  font-size: .9em;
  margin-left: .5em; }

/*---- Articulo 1 entrega*/
.entrega, .devolucion, .tipo {
  margin-bottom: .5em;
  box-shadow: 1px 1px 1px #eee;
  width: 100%;
  border: solid 1px #CCC;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,fbfbfb+44,f9f9f9+100 */
  background: #fefefe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fefefe 0%, #fbfbfb 44%, #f9f9f9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fefefe 0%, #fbfbfb 44%, #f9f9f9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fefefe 0%, #fbfbfb 44%, #f9f9f9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f9f9f9',GradientType=0 );
  /* IE6-9 */
  display: flex;
  padding: .5em; }

.bloque1 {
  width: 50%; }
  .bloque1 .form-fecha {
    width: 220px; }

.tx-requerido {
  display: flex;
  align-items: center;
  margin-bottom: .5em; }
  .tx-requerido h3 {
    margin: 0;
    margin-right: .3em;
    margin-bottom: .5em;
    font-size: 1em;
    font-weight: bold; }
  .tx-requerido span {
    color: #cc0101;
    font-size: 16px; }

.bloque2 {
  width: 50%;
  padding-left: .5em;
  text-align: center; }
  .bloque2 h1 {
    color: #0099FF;
    margin: 0;
    font-size: 1em; }
  .bloque2 .hr {
    margin: 0;
    border-bottom: 1px dotted #50514B;
    width: 50%;
    margin: 0 auto;
    display: none; }
  .bloque2 .hr-d {
    margin: 0;
    border-bottom: 1px dotted #50514B;
    width: 50%;
    margin: 0 auto;
    display: none; }
  .bloque2 h4 {
    margin-top: .1em;
    margin-bottom: .1em;
    font-size: 1em;
    font-weight: bold; }
  .bloque2 .datos-d {
    display: flex;
    flex-direction: column; }
    .bloque2 .datos-d span {
      font-size: .9em; }
  .bloque2 .nombre_direcc, .bloque2 .nombre_cp, .bloque2 .nombre_cp-d, .bloque2 .nombre_direcc-d {
    display: none; }

.nota2 {
  font-size: .9em;
  margin-top: 2em; }

/*--- END articulo 1 y d entrega y devolucion*/
/**
---Tipo de utomovils
************************************************/
.tipo {
  flex-direction: column; }

.form1 {
  width: 100%;
  border-bottom: solid 1px #CCC;
  margin-bottom: .5em; }

.tipo-carro {
  display: flex;
  margin-bottom: 1em; }
  .tipo-carro .radio {
    width: 100px;
    margin: 0;
    padding: 0; }

.form2 {
  border-bottom: solid 1px #CCC;
  margin-bottom: .5em; }

.tipo-v {
  display: flex;
  margin-bottom: 1em; }
  .tipo-v .radio {
    width: 100px;
    margin: 0;
    padding: 0; }

.form3 {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #CCC;
  margin-top: .5em; }
  .form3:last-child {
    border-bottom: 0; }
  .form3 .c3 {
    width: 50%;
    background: white;
    border-right: solid 1px #CCC; }
  .form3 .c4 {
    padding-left: .5em;
    width: 50%;
    display: flex;
    flex-direction: column; }
    .form3 .c4 span {
      font-size: .9em;
      font-weight: normal;
      margin-bottom: .5em; }

.radio-v {
  font-weight: normal;
  display: flex; }
  .radio-v input {
    margin-left: .5em; }

/**
---Formulario del cliente
************************************************/
.form-ped {
  margin-bottom: .5em;
  box-shadow: 1px 1px 1px #eee;
  width: 100%;
  border: solid 1px #CCC;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,fbfbfb+44,f9f9f9+100 */
  background: #fefefe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fefefe 0%, #fbfbfb 44%, #f9f9f9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fefefe 0%, #fbfbfb 44%, #f9f9f9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fefefe 0%, #fbfbfb 44%, #f9f9f9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f9f9f9',GradientType=0 );
  /* IE6-9 */
  padding: .5em; }

.dato1-p {
  border-bottom: solid 1px #CCC;
  width: 100%;
  display: flex; }
  .dato1-p .c_subdato1 {
    width: 50%; }
    .dato1-p .c_subdato1 input {
      width: 80%;
      margin-bottom: 1em; }
  .dato1-p .c_subdato2 {
    width: 50%; }
    .dato1-p .c_subdato2 input {
      width: 80%;
      margin-bottom: 1em; }

.dato-d {
  margin-top: .5em; }

.dato-d-p {
  border-bottom: 0; }

#refrencia_d {
  margin-bottom: .5em;
  width: 80%; }

.c-img {
  display: flex; }

.div-img {
  margin-left: .5em; }

#email-c {
  margin-bottom: 0; }

.txt-espere {
  font-size: .7em;
  margin-left: 1em;
  margin-bottom: .2em; }

#img-gif {
  display: none; }

#txt-espere {
  display: none; }

#reservar, #reservar2 {
  display: none; }

.reservar, #reservar, #reservar2 {
  margin-top: 2em;
  margin-bottom: 2em;
  border: solid 1px #CCC;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,fbfbfb+44,f9f9f9+100 */
  background: #fefefe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fefefe 0%, #fbfbfb 44%, #f9f9f9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fefefe 0%, #fbfbfb 44%, #f9f9f9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fefefe 0%, #fbfbfb 44%, #f9f9f9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f9f9f9',GradientType=0 );
  /* IE6-9 */ }

.transmision, .oculto, .form-ped {
  display: none; }

.txt-confirm-reserva {
  font-size: 1.2em; }

.table-d-xs {
  border: 1px solid #DDDDDD;
  width: 60%;
  margin: auto;
  padding: .4em .3em .2em .3em;
  background: #214878; }

#body-det tr {
  text-align: center;
  font-size: .9em;
  background: #fff; }

.table-d-xs tbody tr td .rfc {
  text-transform: uppercase;
  color: black;
  font-weight: normal; }

.section-reserva {
  box-shadow: 5px 5px 5px #fff !important;
  margin-top: 1em; }

.table-de-ped {
  width: 80% !important;
  margin-bottom: 1em; }

.t_datos-pedido {
  margin: 0.5em 0 1em 0 !important; }

#imprimir {
  margin-bottom: 1em; }

#regresar {
  margin-bottom: 2em; }

.text-da {
  font-size: 1.2em; }

.dato-p-1 {
  font-size: .9em; }

/* Vista de las reservas del admin-----*/
.detalle-cliente {
  cursor: pointer; }

/*modal detalle de la reserva*/
.m-title {
  font-size: .9em;
  margin: 0; }

.body-modal-p {
  padding: 0; }

.navegacion-p {
  margin-bottom: 0; }
  .navegacion-p li {
    font-size: .9em; }

.table-pd tbody tr td {
  font-size: 0.9em !important; }

#table-d-c {
  display: none; }

.enlace-active {
  color: blue;
  text-decoration: underline; }

#v_foto {
  cursor: pointer;
  color: blue; }

/************
--- Dashboard Admin------
******************************************************/
.body_dashboard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.div_acordeon {
  position: fixed;
  left: -100%; }

.div_acordeon-md {
  display: none; }

.div_acordeon, .div_acordeon-md {
  background: #214878;
  width: 80%;
  height: 100%;
  z-index: 99;
  /*estilos de menu principal*/
  /*efecto luminoso en el texto de los cabeceros*/
  /*spam para los iconos*/
  /*quitamos puntos a las listas*/
  /*aspecto de los enlaces*/ }
  .div_acordeon #acordeon, .div_acordeon-md #acordeon {
    background-color: #1a3f6d;
    /*color subsecciones del cordeon*/
    width: 100%;
    color: #c4d7ee; }
  .div_acordeon #acordeon ul, .div_acordeon-md #acordeon ul {
    padding: 0px;
    margin: 0px; }
  .div_acordeon .c-icon-g, .div_acordeon-md .c-icon-g {
    display: flex; }
    .div_acordeon .c-icon-g span:first-child, .div_acordeon-md .c-icon-g span:first-child {
      line-height: 30px; }
  .div_acordeon .txt-icon, .div_acordeon-md .txt-icon {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .div_acordeon .logo_em, .div_acordeon-md .logo_em {
    margin: 1em 1em 1em 1.5em; }
  .div_acordeon #acordeon h3, .div_acordeon-md #acordeon h3 {
    border-bottom: 1px solid #5988c1;
    font-weight: normal;
    line-height: 34px;
    padding: 0 10px;
    margin: 0px;
    cursor: pointer;
    background: #214878; }
  .div_acordeon .t-admin, .div_acordeon-md .t-admin {
    color: #c4d7ee;
    font-size: 16px; }
  .div_acordeon .dahs_active, .div_acordeon-md .dahs_active {
    background: #1a3f6d !important;
    color: #fff !important; }
    .div_acordeon .dahs_active a, .div_acordeon-md .dahs_active a {
      color: #fff !important; }
  .div_acordeon #acordeon h3:hover, .div_acordeon-md #acordeon h3:hover {
    background: #1a3f6d !important;
    transition: all 0.55s;
    border-bottom: 1px solid #82ade3;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.7); }
  .div_acordeon #acordeon h3 span, .div_acordeon-md #acordeon h3 span {
    font-size: 16px;
    margin-right: 10px; }
  .div_acordeon #acordeon li, .div_acordeon-md #acordeon li {
    list-style-type: none; }
  .div_acordeon #acordeon ul ul li a, .div_acordeon-md #acordeon ul ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 27px;
    display: block;
    padding: 2px 15px;
    transition: all 0.15s;
    border-bottom: 1px solid #044493; }
  .div_acordeon #acordeon ul ul li a:hover, .div_acordeon-md #acordeon ul ul li a:hover {
    background: #214878;
    transition: all 0.55s; }
  .div_acordeon #acordeon ul ul, .div_acordeon-md #acordeon ul ul {
    display: none; }
  .div_acordeon #acordeon li.active ul, .div_acordeon-md #acordeon li.active ul {
    display: block; }
  .div_acordeon .bloque_a, .div_acordeon-md .bloque_a {
    width: 200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

.principal_dashboard {
  background: #f7f7f7;
  width: 100%; }

.menu_admin {
  display: none; }

.header_dashboard {
  height: 8%;
  background: #fff;
  box-shadow: 0px 0px 10px  #D8D8D8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header_dashboard .titular_seccion {
    color: #2996cc;
    line-height: 50px;
    width: 70%;
    margin: 0;
    font-size: 1.1em;
    background: #f7f7f7;
    padding-left: .5em; }

.menu_admin2 {
  display: flex;
  align-items: center;
  margin-left: 70px;
  font-size: 1.5em; }

.c-header {
  width: 220px;
  display: flex;
  justify-content: space-between; }

#mostrar-menu {
  cursor: pointer; }
  #mostrar-menu:hover {
    color: #337ab7; }

.menu-oculto {
  width: 40px;
  font-size: 2em;
  display: flex;
  align-items: center; }

.section_dashboard {
  width: 100%; }

.contenido_dashboard {
  width: 100%; }

/*Totales dashboard----*/
.seccion_1 {
  position: absolute;
  top: 10%;
  width: 100%;
  padding: 1em 1em 1em 2em; }

.dos_section {
  width: 100%; }

.section-cuerpo-c {
  margin-bottom: 1em; }

.section-contenedor {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em; }

.t_cantidad {
  background: white;
  width: 250px;
  text-align: center;
  border-radius: 5px 0px 5px 0px;
  box-shadow: 0px 0px 10px #D8D8D8;
  margin-bottom: .5em; }
  .t_cantidad h3 {
    font-size: 1.2em;
    color: #2996cc;
    margin: 0;
    padding: .5em 0; }
  .t_cantidad .caja {
    background: #2996cc;
    padding: 1em 0;
    margin-bottom: 2em; }
    .t_cantidad .caja span {
      color: #fff;
      font-size: 2em; }

.t_totales {
  background: white;
  width: 250px;
  text-align: center;
  border-radius: 5px 0px 5px 0px;
  box-shadow: 0px 0px 10px #D8D8D8; }
  .t_totales h3 {
    font-size: 1.2em;
    color: #2996cc;
    margin: 0;
    padding: .5em 0; }
  .t_totales .caja {
    background: #4ab100;
    padding: 1em 0;
    margin-bottom: 2em; }
    .t_totales .caja span {
      color: #fff;
      font-size: 2em; }

/*********
Footer----
***********************/
.f_admin {
  width: 100%;
  padding-top: 0;
  padding-bottom: .5em;
  position: absolute;
  bottom: 0;
  text-align: center;
  background: white;
  box-shadow: 0px 0px 10px  #D8D8D8; }
  .f_admin small {
    width: 100%;
    border-top: 0;
    color: #333;
    font-size: .8em; }

/*--------------
Estilos para las tablas
**************************************/
.seccion_sucursal-admin {
  max-height: 180px;
  overflow-y: scroll; }

.seccion_sucursal {
  max-height: 490px;
  overflow-y: scroll; }

.cabecero {
  display: none; }

.seccion_tabla {
  box-shadow: 0px 0px 10px #D8D8D8;
  border-radius: 5px;
  width: 100%;
  background: #fff; }
  .seccion_tabla .agregar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .seccion_tabla .agregar button {
      position: absolute;
      top: -3;
      right: -20;
      margin: .5em 2em .5em 0; }
  .seccion_tabla .tabla_catalogo {
    border: 1px solid #ddd;
    width: 99%;
    margin: 0 auto; }
  .seccion_tabla .thead-tabla {
    background: #214878; }
    .seccion_tabla .thead-tabla tr {
      color: white; }
      .seccion_tabla .thead-tabla tr th {
        font-size: .8em;
        text-align: center;
        padding: .5em 0;
        border: 1px solid #ddd; }
  .seccion_tabla .tabla_catalogo tbody tr td {
    text-align: center;
    font-size: .8em;
    padding: .2em .5em;
    border: 1px solid #ddd;
    display: block; }
  .seccion_tabla #body-tarifa-detalle tr td {
    display: block; }
  .seccion_tabla #body-tarifa-detalle-edit tr td {
    display: block; }

/*******
 Estilos globales para los modales
***********************************************/
.header-modal {
  background: #214878;
  /* background: #58A2F6; */
  color: white;
  font-weight: normal;
  border-radius: 5px 5px 0px 0px; }

.body-modal {
  padding: 1em 1.5em .5em 1.5em; }

.form-modal {
  width: 100%; }

.footer-modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .footer-modal button, .footer-modal span {
    width: 120px; }

.check-w {
  width: 80px !important; }

/*Texto de confirmacion de los modales*/
.txt-delete-confirm {
  font-size: 1em;
  font-weight: normal; }

/*modal para agregar plazas*/
.checkbox-activ {
  width: 15%;
  margin-top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .checkbox-activ span {
    font-size: 1.2em; }

.tipo-carro-a {
  display: flex;
  margin-bottom: 1em; }
  .tipo-carro-a .radio {
    width: 100px;
    margin: 0;
    padding: 0;
    margin-left: .2em; }
    .tipo-carro-a .radio label {
      font-size: .8em; }

.foto-p {
  color: #31708f; }

.foto-p:hover {
  color: #337ab7;
  cursor: pointer; }

.txt-foto-actual {
  cursor: pointer; }
  .txt-foto-actual:hover {
    color: blue; }

/*---- Modal agregar gerente------*/
.datos1, .datos2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column; }
  .datos1 .form-group, .datos2 .form-group {
    width: 100%; }

/*Modal agregar usuario*/
.error-p, .error-p-actual {
  font-size: .8em;
  color: #a94442; }

.hidden-error-p {
  visibility: hidden; }

.hidden-error-p-actual {
  display: none; }

/*--- Modal para agregar sucursal-----*/
.dialog-sucursal {
  width: 90%;
  margin-top: 2em; }

.datos1-s {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .datos1-s .form-group {
    width: 100%; }
    .datos1-s .form-group .agrupar {
      width: 100%;
      display: flex; }
      .datos1-s .form-group .agrupar select {
        margin-right: 5px; }

.btn-add-n {
  height: 25px;
  margin-top: 3px;
  font-size: 10px; }

/*Tabla de los telefonos de las sucursales*/
.tabla-telefonos {
  width: 35%; }

.contenedor-tel {
  display: flex;
  justify-content: space-around; }

.nombre-tel {
  display: flex;
  flex-direction: column; }

.numero-tel {
  display: flex;
  flex-direction: column; }

.txt-info-n, .txt-sucursal {
  font-size: .9em; }

.nombre_tel, .num_tel {
  font-size: .8em; }

/*Parte donde se van agregando los telefono al agregar sucursal*/
.content-t {
  display: flex;
  flex-direction: column; }

.form-textarea {
  width: 100%; }

.contenedor-tel-add {
  width: 100%;
  padding: 0 1em;
  max-height: 120px;
  overflow-y: scroll; }

.content-add-t {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .2em;
  margin-top: 1em; }
  .content-add-t h3 {
    font-size: .9em;
    margin: 0; }
  .content-add-t .btn-add-t, .content-add-t .btn-add-t-s {
    height: 20px; }

.content-datos {
  display: flex;
  justify-content: space-around; }

.content-datos-edit {
  display: none; }

.c-d {
  visibility: hidden; }

.table-tel {
  border: 1px solid #ddd; }
  .table-tel thead tr {
    border-bottom: 0; }
    .table-tel thead tr th {
      border-right: 1px solid #ddd;
      border-bottom: 0;
      padding: 0;
      font-size: .8em;
      font-weight: normal;
      text-align: center; }
  .table-tel tbody tr td {
    border-right: 1px solid #ddd;
    padding: 0;
    font-size: .8em;
    text-align: center; }

.add-tel-txt {
  padding-left: 1.2em; }

.n-tel {
  display: flex;
  flex-direction: column; }
  .n-tel span {
    font-size: .9em; }

.num-tel {
  display: flex;
  flex-direction: column; }
  .num-tel span {
    font-size: .9em; }

/*-- Tablita editar telefonos*/
.table-tel-edit {
  border: 1px solid #ddd; }
  .table-tel-edit thead tr {
    border-bottom: 0; }
    .table-tel-edit thead tr th {
      border-right: 1px solid #ddd;
      border-bottom: 0;
      padding: 0;
      font-size: .8em;
      font-weight: normal;
      text-align: center; }
  .table-tel-edit tbody tr td {
    border-right: 1px solid #ddd;
    padding: 0;
    font-size: .8em;
    text-align: center; }

.inp-edit-num {
  width: 100px;
  border: 0;
  text-align: center;
  color: #31708f; }

.s_num {
  border: 0;
  color: #31708f; }

/****
 Modal para agregar tarifas------
******************************************/
.datos1-tarifa {
  display: flex;
  flex-direction: column; }
  .datos1-tarifa .form-control {
    width: 100%; }

.estaus_tarifa {
  width: 80px; }

.checkbox-activ {
  width: 100%; }

/*--- Tablita tarifa detalle  */
.datos1-tarifa-detalle {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 220px;
  padding-right: .5em; }

.content-add-t-d {
  display: flex;
  justify-content: flex-end;
  margin-bottom: .5em; }

.tabla_detalletarifa {
  width: 100%; }

.thead-detalle {
  padding: .5em 1em;
  background: #286090;
  width: 100%;
  border-radius: 3px 3px 0 0; }

.txt-detalle {
  color: #fff; }

.thead-detallet tr th {
  padding: .5em;
  text-align: center;
  font-weight: normal;
  font-size: .8em;
  border: 1px solid #ddd;
  color: #286090; }

#body-tarifa-detalle tr td {
  padding: .5em;
  text-align: center;
  font-weight: normal;
  font-size: .8em;
  border: 1px solid #ddd; }

#body-tarifa-detalle-edit tr td {
  padding: .5em;
  text-align: center;
  font-weight: normal;
  font-size: .8em;
  border: 1px solid #ddd; }

.btn-act-t-d {
  width: 135px !important; }

/*Texto de error en el campo file si no se agrega la imagen*/
.error-add-image {
  color: #a94442 !important; }

#imagen, #imagen-edit {
  color: #337ab7;
  font-size: .9em; }

.txt-foto-actual {
  cursor: pointer; }
  .txt-foto-actual:hover {
    color: blue; }

.error-vehiculo-tipo {
  color: #a94442; }

/*--Tama├▒o fijo de algunos th*/
.w {
  width: 100px; }

.w-g {
  width: 230px; }

/*-- Modal para ver la foto del producto*/
.content-foto {
  width: 90%;
  margin: 0 auto; }

.footer-modal-foto {
  display: flex; }

.modal-content-foto {
  width: 60%;
  margin: 0 auto; }

.exportar-ex {
  width: 100%;
  margin-bottom: .5em;
  display: flex;
  justify-content: flex-end; }
  .exportar-ex .btn-exp {
    margin-right: 1.5em; }

/****************
Puntos de corte****************************************/
@media (min-width: 450px) {
  .header_dashboard .titular_seccion {
    width: 50%;
    margin-right: 20% !important; }

  .t_cantidad {
    width: 160px; }
    .t_cantidad .caja span {
      font-size: 1.5em; }

  .t_totales {
    margin-left: 8%;
    width: 160px; }
    .t_totales .caja span {
      font-size: 1.5em; }

  .seccion_sucursal-admin {
    max-height: 320px; }

  .tipo-carro-a .radio label {
    font-size: .9em; } }
@media (min-width: 500px) {
  .div_acordeon {
    width: 50%; }

  .t_cantidad {
    width: 190px; }

  .t_totales {
    margin-left: 8%;
    width: 190px; }

  .tipo-carro-a .radio label {
    font-size: 1em; }

  .datos1, .datos2 {
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .datos1 .form-group, .datos2 .form-group {
      width: 47%; } }
@media (min-width: 600px) {

  .header_dashboard .titular_seccion {
    width: 30%;
    margin-right: 40% !important; }

  .t_cantidad {
    width: 220px; }

  .t_totales {
    margin-left: 8%;
    width: 220px; }

  .datos1-s {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .datos1-s .form-group {
      width: 31%; }
      .datos1-s .form-group .agrupar {
        width: 100%;
        display: flex; }
        .datos1-s .form-group .agrupar select {
          margin-right: 5px; }

  .content-t {
    display: flex;
    flex-direction: row; }

  .form-textarea {
    width: 50%; }

  .contenedor-tel-add {
    width: 50%;
    padding: 0 1em;
    max-height: 120px;
    overflow-y: scroll; }

  .datos1-tarifa {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .datos1-tarifa .form-control {
      width: 130px; } }
@media (min-width: 620px) {
  .div_acordeon {
    width: 40%; } }
@media (min-width: 700px) {
  .header_dashboard .titular_seccion {
    width: 30%;
    margin-right: 50% !important; }

  .t_cantidad {
    width: 250px; }
    .t_cantidad .caja span {
      font-size: 2em; }

  .t_totales {
    margin-left: 8%;
    width: 250px; }
    .t_totales .caja span {
      font-size: 2em; }

  .cabecero {
    display: table-cell; }

  .txt-escondido {
    display: none; }

  #listar_ tbody tr td {
    display: table-cell; }

  #table-x-y #body-tarifa-detalle tr td {
    display: table-cell; }

  #table-x #body-tarifa-detalle-edit tr td {
    display: table-cell; }

  .section-cuerpo-c {
    box-shadow: 0px 0px 10px #D8D8D8;
    border-radius: 5px;
    width: 90%; }

  .seccion_sucursal-admin {
    max-height: 330px; }

  .datos1-tarifa .form-control {
    width: 160px; }

  .td_cobertura, .td_cobertura_actual, .td_cobertura_nuevo {
    max-width: 180px; } }
@media (min-width: 800px) {
  .header_dashboard .titular_seccion {
    width: 30%;
    margin-right: 60% !important; }

  .section-cuerpo-c {
    width: 80%; }

  .datos1-tarifa .form-control {
    width: 180px; } }
@media (min-width: 900px) {
  .header_dashboard .titular_seccion {
    width: 30%;
    padding-left: .5em;
    margin-right: 0 !important; }

  .div_acordeon {
    display: none; }

  .div_acordeon-md {
    display: block;
    width: 25%; }

  .menu_admin2 {
    display: none; }

  .menu_admin {
    display: block;
    width: 300px;
    padding-right: 2em; }

  .menu-oculto {
    display: none; }

  .seccion_1 {
    width: 75%; }

  /*------------*/
  .section-cuerpo-c {
    width: 93%; }

  .f_admin {
    width: 75%; }

  .principal_dashboard {
    width: 75%;
    overflow: hidden; } }
@media (min-width: 1100px) {
  .header_dashboard .titular_seccion {
    width: 25%; }

  .div_acordeon-md {
    width: 20%; }

  .seccion_1 {
    width: 80%; }

  /*------------*/
  .section-cuerpo-c {
    width: 70%; }

  .f_admin {
    width: 80%; }

  .principal_dashboard {
    width: 80%; }

  .dialog-sucursal {
    width: 60%; } }

/*# sourceMappingURL=estilos.css.map */
