/*Estilos globales*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; }

html {
  height: 100%; }

body {
  height: 100%;
  background: #F7F7F7; }

strong a:hover {
  color: black; }

.section {
  margin-top: 0.5em !important;
  width: 100%;
  background: pink;
  margin: 0 auto;
  background: white; }

.section_contenidos {
  width: 100%;
  margin: 0 auto;
  margin-top: 5em;
  padding: 1em; }
  .section_contenidos h1 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 8px; }
  .section_contenidos .nota1 {
    font-size: 12px;
    color: #666;
    margin: 0;
    padding-bottom: 20px; }
  .section_contenidos .section_articulos {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.contenidos {
  width: 100%;
  margin: 0 auto; }

.div-img-gif {
  display: none; }

.txt-cargando-vehiculos {
  font-size: .9em;
  margin-left: .5em; }

/*---- Articulo 1 entrega*/
.entrega, .devolucion, .tipo {
  margin-bottom: .5em;
  box-shadow: 1px 1px 1px #eee;
  width: 100%;
  border: solid 1px #CCC;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,fbfbfb+44,f9f9f9+100 */
  background: #fefefe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fefefe 0%, #fbfbfb 44%, #f9f9f9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fefefe 0%, #fbfbfb 44%, #f9f9f9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fefefe 0%, #fbfbfb 44%, #f9f9f9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f9f9f9',GradientType=0 );
  /* IE6-9 */
  display: flex;
  padding: .5em; }

.entrega {
  display: flex;
  flex-direction: column; }

.devolucion {
  display: flex;
  flex-direction: column; }

.bloque1 {
  width: 100%;
  display: flex;
  flex-direction: column; }

.tx-requerido {
  display: flex;
  align-items: center;
  margin-bottom: .5em; }
  .tx-requerido h3 {
    margin: 0;
    margin-right: .3em;
    margin-bottom: .5em;
    font-size: 1em;
    font-weight: bold; }
  .tx-requerido span {
    color: #cc0101;
    font-size: 16px; }

.bloque2 {
  width: 100%;
  padding-left: .5em;
  text-align: center; }
  .bloque2 h1 {
    color: #0099FF;
    margin: 0;
    font-size: 1em; }
  .bloque2 .hr {
    margin: 0;
    border-bottom: 1px dotted #50514B;
    width: 50%;
    margin: 0 auto;
    display: none; }
  .bloque2 .hr-d {
    margin: 0;
    border-bottom: 1px dotted #50514B;
    width: 50%;
    margin: 0 auto;
    display: none; }
  .bloque2 h4 {
    margin-top: .1em;
    margin-bottom: .1em;
    font-size: 1em;
    font-weight: bold; }
  .bloque2 .datos-d {
    display: flex;
    flex-direction: column; }
    .bloque2 .datos-d span {
      font-size: .9em; }
  .bloque2 .nombre_direcc, .bloque2 .nombre_cp, .bloque2 .nombre_cp-d, .bloque2 .nombre_direcc-d {
    display: none; }

.nota2 {
  font-size: .9em;
  margin-top: 2em; }

/*--- END articulo 1 y d entrega y devolucion*/
/**
---Tipo de utomovils
************************************************/
.tipo {
  flex-direction: column; }

.form1 {
  width: 100%;
  border-bottom: solid 1px #CCC;
  margin-bottom: .5em; }

.tipo-carro {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em; }
  .tipo-carro .radio {
    width: 130px;
    margin: 0;
    margin-bottom: .5em;
    padding: 0; }

.form2 {
  border-bottom: solid 1px #CCC;
  margin-bottom: .5em; }

.tipo-v {
  display: flex;
  margin-bottom: 1em; }
  .tipo-v .radio {
    width: 100px;
    margin: 0;
    padding: 0; }

.form3 {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #CCC;
  margin-top: .5em; }
  .form3:last-child {
    border-bottom: 0; }
  .form3 .c3 {
    width: 50%;
    background: white;
    border-right: solid 1px #CCC; }
  .form3 .c4 {
    padding-left: .5em;
    width: 50%;
    display: flex;
    flex-direction: column; }
    .form3 .c4 span {
      font-size: .9em;
      font-weight: normal;
      margin-bottom: .5em; }

.radio-v {
  font-weight: normal;
  display: flex; }
  .radio-v input {
    margin-left: .5em; }

/**
---Formulario del cliente
************************************************/
.form-ped {
  margin-bottom: .5em;
  box-shadow: 1px 1px 1px #eee;
  width: 100%;
  border: solid 1px #CCC;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,fbfbfb+44,f9f9f9+100 */
  background: #fefefe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fefefe 0%, #fbfbfb 44%, #f9f9f9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fefefe 0%, #fbfbfb 44%, #f9f9f9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fefefe 0%, #fbfbfb 44%, #f9f9f9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f9f9f9',GradientType=0 );
  /* IE6-9 */
  padding: .5em; }

.dato1-p {
  border-bottom: solid 1px #CCC;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .dato1-p .c_subdato1 {
    width: 100%; }
    .dato1-p .c_subdato1 input {
      width: 100%;
      margin-bottom: 1em; }
  .dato1-p .c_subdato2 {
    width: 100%; }
    .dato1-p .c_subdato2 input {
      width: 100%;
      margin-bottom: 1em; }

.dato-d {
  margin-top: .5em; }

.dato-d-p {
  border-bottom: 0; }

#refrencia_d {
  margin-bottom: .5em;
  width: 80%; }

.c-img {
  display: flex; }

.div-img {
  margin-left: .5em; }

#email-c {
  margin-bottom: 0; }

.txt-espere {
  font-size: .7em;
  margin-left: 1em;
  margin-bottom: .2em; }

#img-gif {
  display: none; }

#txt-espere {
  display: none; }

#reservar, #reservar2 {
  display: none; }

.reservar, #reservar, #reservar2 {
  margin-top: 2em;
  margin-bottom: 2em;
  border: solid 1px #CCC;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,fbfbfb+44,f9f9f9+100 */
  background: #fefefe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fefefe 0%, #fbfbfb 44%, #f9f9f9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fefefe 0%, #fbfbfb 44%, #f9f9f9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fefefe 0%, #fbfbfb 44%, #f9f9f9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f9f9f9',GradientType=0 );
  /* IE6-9 */ }

.transmision, .oculto, .form-ped {
  display: none; }

.txt-confirm-reserva {
  font-size: 1.2em; }

/*******
 Estilos globales para los modales
***********************************************/
.header-modal {
  background: #214878;
  /* background: #58A2F6; */
  color: white;
  font-weight: normal;
  border-radius: 5px 5px 0px 0px; }

.body-modal {
  padding: 1em 1.5em .5em 1.5em; }

.form-modal {
  width: 100%; }

.footer-modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .footer-modal button, .footer-modal span {
    width: 120px; }

.check-w {
  width: 80px !important; }

/*Texto de confirmacion de los modales*/
.txt-delete-confirm {
  font-size: 1em;
  font-weight: normal; }

.table-d-xs {
  border: 1px solid #DDDDDD;
  width: 60%;
  margin: auto;
  padding: .4em .3em .2em .3em;
  background: #214878; }

#body-det tr {
  text-align: center;
  font-size: .9em;
  background: #fff; }

.table-d-xs tbody tr td .rfc {
  text-transform: uppercase;
  color: black;
  font-weight: normal; }

.section-reserva {
  box-shadow: 5px 5px 5px #fff !important;
  margin-top: 1em; }

.table-de-ped {
  width: 80% !important;
  margin-bottom: 1em; }

.t_datos-pedido {
  margin: 0.5em 0 1em 0 !important; }

#imprimir {
  margin-bottom: 1em; }

#regresar {
  margin-bottom: 2em; }

.text-da {
  font-size: 1.2em; }

.dato-p-1 {
  font-size: .9em; }

.conf-pedido {
  font-size: 1em; }

@media (min-width: 600px) {
  .entrega {
    display: flex;
    flex-direction: row; }

  .devolucion {
    display: flex;
    flex-direction: row; }

  .bloque1 {
    width: 100%;
    display: flex;
    flex-direction: column; }

  .dato1-p {
    border-bottom: solid 1px #CCC;
    width: 100%;
    display: flex;
    flex-direction: row; }
    .dato1-p .c_subdato1 {
      width: 50%; }
      .dato1-p .c_subdato1 input {
        width: 80%;
        margin-bottom: 1em; }
    .dato1-p .c_subdato2 {
      width: 50%; }
      .dato1-p .c_subdato2 input {
        width: 80%;
        margin-bottom: 1em; } }
.contenedor-section-aside {
  display: flex;
  width: 98%;
  margin: 0 auto; }

.aside-imagen {
  display: none; }

footer {
  padding-top: 1.5em;
  border-top: 1px solid #ebecec;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  text-align: center; }
  footer small {
    color: #919289;
    margin-bottom: .5em; }
  footer a {
    color: black; }
    footer a:hover {
      text-decoration: none; }

.logo-cabecera {
  width: 95%;
  margin: 0 auto;
  margin-top: 3px;
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.menu-cabecera {
  background: #333399;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 45px;
  border-radius: 5px;
  margin-bottom: 58px; }
  .menu-cabecera .menu-icon {
    width: 100%;
    padding: 0 1em; }
    .menu-cabecera .menu-icon .txt-menu {
      color: #fff;
      font-size: 2.5em; }
    .menu-cabecera .menu-icon .glyphicon {
      margin-top: .1em;
      color: #fff;
      font-size: 2.5em;
      cursor: pointer;
      float: right; }
  .menu-cabecera li {
    display: none;
    list-style: none;
    background: #333399;
    z-index: 99; }
    .menu-cabecera li:hover {
      background: #2D2D85; }
    .menu-cabecera li:last-child a {
      color: #0099ff; }
    .menu-cabecera li a {
      color: #fff;
      font-family: 'Open Sans', "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
      font-size: 15px;
      font-weight: 400;
      padding: .5em 0 .5em 1em; }
      .menu-cabecera li a:hover {
        text-decoration: none;
        color: #0099ff; }

@media (min-width: 580px) {
  .logo-cabecera {
    padding-left: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97%; }
    .logo-cabecera .imagen-tel {
      padding-top: 2.5em;
      height: 100%; } }
@media (min-width: 800px) {
  .section {
    margin-top: 0.5em !important;
    width: 76%;
    margin: 0 auto;
    background: white; }

  .section_contenidos {
    width: 100%;
    margin: 0 auto; }
    .section_contenidos h1 {
      font-size: 22px;
      font-weight: bold;
      padding-left: .7em;
      margin: 0;
      padding-bottom: 8px; }
    .section_contenidos .nota1 {
      padding-left: 1.4em;
      font-size: 12px;
      color: #666;
      margin: 0;
      padding-bottom: 20px; }

  .contenedor-section-aside {
    margin-left: 18px; } }
@media (min-width: 960px) {
  .menu-cabecera {
    background: #333399;
    width: 97%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    padding: 0 63px 0 63px;
    border-bottom: 3px solid #4ECCE7;
    border-radius: 5px;
    margin-bottom: 55px; }
    .menu-cabecera .menu-icon {
      display: none; }
    .menu-cabecera li {
      display: block;
      list-style: none;
      border-right: 1px solid white;
      text-align: center;
      padding-right: 29px; }
      .menu-cabecera li:last-child {
        border-right: 0;
        padding-right: 0; }
      .menu-cabecera li:hover {
        background: none; }
      .menu-cabecera li:last-child a {
        color: #0099ff; }
      .menu-cabecera li a {
        color: #fff;
        font-family: 'Open Sans', "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
        font-size: 10px;
        font-weight: 400;
        padding: 0; }
        .menu-cabecera li a:hover {
          text-decoration: none;
          color: #0099ff; } }
@media (min-width: 1050px) {
  .menu-cabecera li a {
    font-size: 12px;
    font-family: 'Open Sans', "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-weight: 400; }

  .aside-imagen {
    display: block;
    padding: 0 1em 0 2em; }

  .aside-c {
    display: flex;
    flex-direction: column; }
    .aside-c a:first-child {
      margin-bottom: 2em; }
    .aside-c a:last-child {
      margin-bottom: 4em; } }
@media (min-width: 1100px) {
  footer {
    flex-direction: row;
    justify-content: space-between; }
    footer small {
      color: #919289;
      margin-bottom: 0; } }
@media (min-width: 1200px) {
  .menu-cabecera li a {
    font-size: 13px;
    font-family: 'Open Sans', "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-weight: 400; } }
@media (min-width: 1250px) {
  .menu-cabecera li a {
    font-size: 15px;
    font-family: 'Open Sans', "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-weight: 400; } }

/*# sourceMappingURL=estilos_reserva.css.map */
